[Unit]
Description=gunicorn daemon for Tanks
After=network.target

[Service]
User=dimtasev
Group=www-data
WorkingDirectory=/home/dimtasev/tanks_server
ExecStart=/home/dimtasev/pydawdle/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/dimtasev/tanks.sock Tanks.wsgi:application

[Install]
WantedBy=multi-user.target
