{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-white w3-animate-left" style="z-index:3;width:300px;display:none" id="mySidebar">
        <div class="w3-container">
            <div class="w3-row">
                <div class="w3-col s10 m10 l10">
                    <h1>
                        <b>User account</b>
                    </h1>
                </div>
            </div>
        </div>
        <div class="w3-container">
            {% if user.is_authenticated %}
                <p>Logged in as: {{ user.username }} </p>
                <a class="w3-button w3-border" href="{% url 'logout' %}">Logout</a>
            {% else %}
                You are not logged in.
                <a class="w3-button w3-border" href="{% url 'login' %}">Login</a>
                <a class="w3-button w3-border" href="{% url 'signup' %}">Register</a>
            {% endif %}

        </div>
        <div class="w3-panel w3-large">
            <a href="https://www.github.com/dtasev/mp-fe" target="_blank" class="out-link">
                <i class="fab fa-github w3-hover-opacity"></i>
            </a>
            <a href="https://www.linkedin.com/in/dtasev/" target="_blank" class="out-link">
                <i class="fab fa-linkedin w3-hover-opacity"></i>
            </a>
        </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-animate-opacity" onclick="Controls.w3_close()" style="cursor:pointer"
         title="close side menu"
         id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main">
        <div class="canvas-holder container">
            <div class="child">
                <canvas id="tanks-canvas" class="game-canvas"></canvas>
            </div>
            <div id="tanks-ui" class="child">
            </div>
        </div>
        <!-- End page content -->
    </div>

    <script src="{% static "tanks/js/bundle.js" %}"></script>
{% endblock %}